:root {
	--color_0_hue: 232;
	--color_1_hue: 112;
	--color_0_saturation: 35%;
	--color_1_saturation: 35%;
	--color_0_lightness: 44%;
	--color_1_lightness: 44%;
	--color_0: hsl(var(--color_0_hue), var(--color_0_saturation), var(--color_0_lightness));
	--color_1: hsl(var(--color_1_hue), var(--color_1_saturation), var(--color_1_lightness));
	--font_size_xxl: 48px;
	--font_size_xl: 24px;
	--font_size_lg: 20px;
	--font_size_md: 16px;
	--font_size_sm: 12px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: var(--font_size_md);
	line-height: 1.2;
	color: #2b2b2b;
	background-color: #fff;
}

h1 {
	font-size: var(--font_size_xl);
	font-weight: 300;
	margin: 0 0 16px;
}
h2 {
	font-size: var(--font_size_lg);
	margin: 0 0 8px;
}
h3 {
	font-size: var(--font_size_md);
	font-weight: bold;
	margin: 0 0 4px;
}
h4,
h5,
h6 {
	font-size: var(--font_size_sm);
	font-weight: bold;
	margin: 0 0 2px;
}

input,
button {
	margin: 0;
}

img,
video {
	height: auto;
	max-width: 100%;
}

a {
	color: var(--color_0);
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: var(--color_1);
	text-decoration: underline;
}

a:active {
	color: var(--color_0);
}

.focusable:hover {
	outline: 5px dotted var(--color_1);
}

a:focus,
button:focus,
input:focus,
.focusable:focus {
	outline: 5px dotted var(--color_0);
}

hr {
	width: 100%;
	margin: 20px 0;
	border-top: 1px solid
		hsla(var(--color_0_hue), var(--color_0_saturation), var(--color_0_lightness), 61%);
	border-bottom: 1px solid
		hsla(var(--color_0_hue), var(--color_0_saturation), var(--color_0_lightness), 24%);
}

code {
	padding: 0 3px;
	border-radius: 2px;
	background-color: hsla(
		var(--color_0_hue),
		var(--color_0_saturation),
		var(--color_0_lightness),
		14%
	);
}

blockquote {
	padding: 4px 0 4px 24px;
	margin: 0 0 10px;
	border-left: 8px solid #ccc;
	color: hsl(0, 4%, 57%);
}
